body {
    color: white;
}

#content-wrapper {
    display: flex;
}

.col {
    width: 50%;
}

#about {
    max-width: 250px;
    margin-top: 55%;
    margin-left: 0px;
}

h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30pt;
}

h3 {
    margin-top: 55px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15pt;
}

#about p {
    margin-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    font-weight: 100;
}


.col img {
    width: auto;
    height: 100vh;
}

.buttons {
    margin-top: 60px;
}

.button {
    width: 200px;
    height: 50px;
    background-color: aquamarine;
    text-align: center;
    margin: 5px;
}

.button p {
    line-height: 50px;
}

.button:hover {
    background-color: mediumaquamarine;
}

@media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
    #about {
        max-width: 250px;
        margin-top: 55%;
        margin-left: 50px;
    }
}

@media screen and (max-width: 1270px) {
    #content-wrapper {
        display: flex;
       flex-direction: column;
    }

    .col {
        width: 100%;
    }

    .col img {
        width: 100%;
        height: auto;
    }

    #about {
        max-width: 250px;
        margin-top: -50px;
        margin-left: 60px;
        margin-bottom: 40px;
    }
}