/* --- Main styles --- */
body {
    color: white;
}

#content-wrapper {
    display: flex;
    margin-top: 100px;
}

#about {
    max-width: 350px;
    
}

/* --- Text ---*/
h3 {
    margin-top: 55px;
}

#aboutContent p {
    margin-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    font-weight: 100;
}

/* --- Left Image --- */
/*Image screen height*/
.col {
    display: flex;
    align-items: center;
    justify-content: center;
}

.col-complementary {
    width: 60%;
}

.col-main {
    width: 40%;
}

.col img {
    max-width: 80%;
    height: auto;
}

/* --- Buttons --- */
.buttons {
    margin-top: 60px;
}

.button {
    width: 200px;
    height: 50px;
    background-color: #48F4F4;
    text-align: center;
    margin: 5px;
}

.button p {
    line-height: 50px;
    font-family: 'Courier','Bookman','Verdana', 'Arial Black';
}

.button:hover {
    background-color: #3BC8C8;
}

/* --- Social Buttons --- */
.side-social {
    position: fixed;
    right: 0;
    top: 35%;
    background-color: #C4C4C4;
    width: 50px;
}

.side-social ul {
    list-style-type: none;
}

.side-social ul li {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.side-social img {
    height: 30px;
    width: auto;
}

/* --- Mac Style Hover --- */
/*
.side-social img:hover {
    height: 50px;
    width: auto;
}
*/
/* --- iPad Pro --- */
@media only screen 
  and (min-width: 1024px)
  and (min-height: 1366px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 1.5) {
    #content-wrapper {
        flex-direction: column;
        margin-top: 55px;
    }

    .col-complementary {
        width: 100%;
    }
    
    .col-main {
        width: 100%;
    }
    
    .col img {
        max-width: 100%;
    }

    #about {
        transform: none;
        max-width: 100%;
        margin-top: -30px;
        margin-left: 60px;
        margin-bottom: 40px;   
    }
}

@media screen and (max-width: 980px) {
    #about {
        max-width: 220px;
        margin-left: 50px;
    }
}
@media screen and (max-width: 880px) {
    #about {
        max-width: 200px;
        margin-left: 50px;
    }
}

@media screen and (max-width: 800px) {
    #content-wrapper {
        display: flex;
        flex-direction: column;
        margin-top: 55px;
    }

    .col-complementary {
        width: 100%;
    }
    
    .col-main {
        width: 100%;
    }
    
    .col img {
        max-width: 100%;
    }

    #about {
        transform: none;
        max-width: 250px;
        margin-top: -30px;
        margin-left: 60px;
        margin-bottom: 40px;   
    }
}

/* --- Social Icons phone width --- */
@media screen and (max-width: 500px) {
    .side-social {
        position: static;
        width: 100%;
        background-color:#C4C4C4;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .side-social ul {
        list-style-type: none;
        text-align: center;
    }
    
    .side-social ul li {
        display: inline;
        margin-left: 20px;
        margin-right: 20px;
    }
    
    .side-social img {
        height: 35px;
        line-height: 35px;
        width: auto;
    }

    #about {
        margin: 0 auto;
        margin-bottom: 40px;
        max-width: 70%;
    }
}