/* --- Main styles --- */
body {
    color: white;
}

#content-wrapper {
    display: flex;
}

#about {
    max-width: 250px;
    margin-top: 50%;
    margin-left: 50px;
}

/* --- Text ---*/
h3 {
    margin-top: 55px;
}

#about p {
    margin-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    font-weight: 100;
}

/* --- Left Image --- */
/*Image screen height*/
.col img {
    width: auto;
    height: 100vh;
}

/* --- Buttons --- */
.buttons {
    margin-top: 60px;
}

.button {
    width: 200px;
    height: 50px;
    background-color: #48F4F4;
    text-align: center;
    margin: 5px;
}

.button p {
    line-height: 50px;
}

.button:hover {
    background-color: #3BC8C8;
}

/* --- Social Buttons --- */
.side-social {
    position: fixed;
    right: 0;
    top: 35%;
    background-color: #C4C4C4;
    width: 50px;
}

.side-social ul {
    list-style-type: none;
}

.side-social ul li {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.side-social img {
    height: 30px;
    width: auto;
}

/* --- Mac Style Hover --- */
/*
.side-social img:hover {
    height: 50px;
    width: auto;
}
*/
/* --- iPad Pro --- */
@media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
    #about {
        max-width: 250px;
        margin-top: 55%;
        margin-left: 50px;
    }
}

/* --- Responsive --- */
@media screen and (max-width: 1270px) {
    #content-wrapper {
        display: flex;
       flex-direction: column;
    }

    .col img {
        width: 100%;
        height: auto;
    }

    #about {
        transform: none;
        max-width: 250px;
        margin-top: -50px;
        margin-left: 60px;
        margin-bottom: 40px;   
    }
}

/* --- Social Icons phone width --- */
@media screen and (max-width: 500px) {
    .side-social {
        position: static;
        width: 100%;
        background-color:#C4C4C4;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .side-social ul {
        list-style-type: none;
        text-align: center;
    }
    
    .side-social ul li {
        display: inline;
        margin-left: 20px;
        margin-right: 20px;
    }
    
    .side-social img {
        height: 35px;
        line-height: 35px;
        width: auto;
    }
}