#menu {
    height: 50px;
    width: 100%;
}

#menu h1 {
    float: left;
    margin-left: 10px;
    height: 50px;
    line-height: 50px;
}

#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
    margin-right: 10px;
}

#menu li {
    display: inline-block;
    height: 50px;
    line-height: 50px;
}

#menu a {
    color: white;
}

#menu li+li {
    margin-left: 55px;
}
