/* --- Main styles --- */

body {
    color: white;
}

#content {
    margin-top: 100px;
}

#wrapper {
    display: flex;
    justify-content: center;
}

#description {
    max-width: 350px;
}

/* --- Text ---*/
h2 {
    margin-left: 30px;
    margin-bottom: 20px;
}

#description {
    font-family: Arial, Helvetica, sans-serif;
}

#description h3 {
    margin-top: 30px;
}

#description h4 {
    margin-top: 10px;
}

#description ul {
    margin-top: 10px;
    list-style-type: none;
}

#description p {
    margin-top: 20px;
    font-size: 10pt;
}

.tech_project ul {
    font-size: 10pt;
}


#aboutContent p {
    margin-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    font-weight: 100;
}

.col-complementary {
    width: 60%;
}

.col-main {
    width: 40%;
}

.col img {
    align-self: flex-start;
    width: 90%;
}

/* --- Buttons --- */

.buttons {
    margin-top: 60px;
}

.buttons {
    margin-top: 60px;
    margin-bottom: 30px;
}

.button {
    width: 200px;
    height: 50px;
    background-color: #48F4F4;
    text-align: center;
    margin: 5px;
}

.button p {
    line-height: 50px;
    font-family: 'Courier', 'Bookman', 'Verdana', 'Arial Black';
}

.button:hover {
    background-color: #3BC8C8;
}

/* --- iPad Pro --- */

@media only screen and (min-width: 1024px) and (min-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
    #wrapper {
        flex-direction: column;
        margin-top: 55px;
    }
    .col-complementary {
        width: 100%;
    }
    .col-main {
        width: 100%;
    }
    .col img {
        width: 100%;
    }
    #description {
        transform: none;
        max-width: 70%;
        margin-top: -30px;
        margin-left: 60px;
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 950px) {
    #description {
        max-width: 300px;
    }
}

@media screen and (max-width: 800px) {
    #wrapper {
        display: flex;
        flex-direction: column;
        margin-top: 55px;
    }
    .col-complementary {
        width: 100%;
    }

    h2 {
        text-align: center;
    }
    .col-main {
        width: 100%;
    }
    .col img {
        width: 100%;
    }
    #description {
        transform: none;
        max-width: 450px;
        margin-top: -30px;
        margin-left: 60px;
        margin-bottom: 40px;
    }
}

/* --- Social Icons phone width --- */

@media screen and (max-width: 500px) {
    #description {
        margin: 0 auto;
        margin-bottom: 40px;
        max-width: 70%;
    }
}