* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#content {
  margin-top: 55px;
  height: 100%;
}

#content_header {
  display: flex;
  justify-content: center;
  align-items: center; 
  margin-bottom: 30px;
  flex-direction: column;
  text-align: center;
}

#content_header h3 {
  margin-top: 5px;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
#projects:after {
  content: "";
  display: table;
  clear: both;
}

img {
  display: block;
  width: 100%;
}
  
/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 950px) {
  .column {
    width: 50%;
  }
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
  }
}